<header>
    <link rel="stylesheet" href="css/header.css">
    <nav>
        <a href="/" class="logo">Portal Trabajo</a>
        <ul>
            <li><a href="/jobs.html">Empleos</a></li>
            <li><a href="/companies.html">Empresas</a></li>
            <li><a href="/resources.html">Recursos</a></li>
            <li><a href="/forum.html">Foros</a></li>
            <li><a href="/reviews.html">Valoraciones</a></li>
            <li><a href="/login.html">Iniciar sesión</a></li>
            <li><a href="/register.html">Registrarse</a></li>
        </ul>
    </nav>
</header>